In [1]:
# Imports
import pandas as pd

In [2]:
# Read the CSV file and put it into a dataframe

csv_file = 'Resources/original_book_data.csv'
book_df = pd.read_csv(csv_file, na_filter = True, na_values = '[]')
book_df.head()

,bookId,title,series,author,rating,description,language,isbn,genres,characters,...,firstPublishDate,awards,numRatings,ratingsByStars,likedPercent,setting,coverImg,bbeScore,bbeVotes,price
0,2767052-the-hunger-games,The Hunger Games,The Hunger Games #1,Suzanne Collins,4.33,WINNING MEANS FAME AND FORTUNE.LOSING MEANS CE...,English,9780439023481,"['Young Adult', 'Fiction', 'Dystopia', 'Fantas...","['Katniss Everdeen', 'Peeta Mellark', 'Cato (H...",...,NaN,['Locus Award Nominee for Best Young Adult Boo...,6376780,"['3444695', '1921313', '745221', '171994', '93...",96.0,"['District 12, Panem', 'Capitol, Panem', 'Pane...",https://i.gr-assets.com/images/S/compressed.ph...,2993816,30516,5.09
1,2.Harry_Potter_and_the_Order_of_the_Phoenix,Harry Potter and the Order of the Phoenix,Harry Potter #5,"J.K. Rowling, Mary GrandPré (Illustrator)",4.50,There is a door at the end of a silent corrido...,English,9780439358071,"['Fantasy', 'Young Adult', 'Fiction', 'Magic',...","['Sirius Black', 'Draco Malfoy', 'Ron Weasley'...",...,06/21/03,['Bram Stoker Award for Works for Young Reader...,2507623,"['1593642', '637516', '222366', '39573', '14526']",98.0,['Hogwarts School of Witchcraft and Wizardry (...,https://i.gr-assets.com/images/S/compressed.ph...,2632233,26923,7.38
2,2657.To_Kill_a_Mockingbird,To Kill a Mockingbird,To Kill a Mockingbird,Harper Lee,4.28,The unforgettable novel of a childhood in a sl...,English,9999999999999,"['Classics', 'Fiction', 'Historical Fiction', ...","['Scout Finch', 'Atticus Finch', 'Jem Finch', ...",...,07/11/60,"['Pulitzer Prize for Fiction (1961)', 'Audie A...",4501075,"['2363896', '1333153', '573280', '149952', '80...",95.0,"['Maycomb, Alabama (United States)']",https://i.gr-assets.com/images/S/compressed.ph...,2269402,23328,NaN
3,1885.Pride_and_Prejudice,Pride and Prejudice,NaN,"Jane Austen, Anna Quindlen (Introduction)",4.26,Alternate cover edition of ISBN 9780679783268S...,English,9999999999999,"['Classics', 'Fiction', 'Romance', 'Historical...","['Mr. Bennet', 'Mrs. Bennet', 'Jane Bennet', '...",...,01/28/13,NaN,2998241,"['1617567', '816659', '373311', '113934', '767...",94.0,"['United Kingdom', 'Derbyshire, England (Unite...",https://i.gr-assets.com/images/S/compressed.ph...,1983116,20452,NaN
4,41865.Twilight,Twilight,The Twilight Saga #1,Stephenie Meyer,3.60,About three things I was absolutely positive.\...,English,9780316015844,"['Young Adult', 'Fantasy', 'Romance', 'Vampire...","['Edward Cullen', 'Jacob Black', 'Laurent', 'R...",...,10/05/05,"['Georgia Peach Book Award (2007)', 'Buxtehude...",4964519,"['1751460', '1113682', '1008686', '542017', '5...",78.0,"['Forks, Washington (United States)', 'Phoenix...",https://i.gr-assets.com/images/S/compressed.ph...,1459448,14874,2.1

Notes: Price is funky and has some blanks

In [3]:
# Store the columns we want in a new DF
book_df2 = book_df[['title', 'author','rating', 'description', 'language', 'isbn',
    'genres', 'pages', 'publishDate', 'publisher', 'numRatings', 'ratingsByStars', 'likedPercent']].copy()

    ## note - price is not included because there were many null values.
    ## we will get the price via web scraping

# Filter DF to only include books in English and drop null values
book_df2 = book_df2[book_df2['language'] == 'English']
book_df2.dropna(inplace = True)

book_df2.head()

,title,author,rating,description,language,isbn,genres,pages,publishDate,publisher,numRatings,ratingsByStars,likedPercent
0,The Hunger Games,Suzanne Collins,4.33,WINNING MEANS FAME AND FORTUNE.LOSING MEANS CE...,English,9780439023481,"['Young Adult', 'Fiction', 'Dystopia', 'Fantas...",374,09/14/08,Scholastic Press,6376780,"['3444695', '1921313', '745221', '171994', '93...",96.0
1,Harry Potter and the Order of the Phoenix,"J.K. Rowling, Mary GrandPré (Illustrator)",4.50,There is a door at the end of a silent corrido...,English,9780439358071,"['Fantasy', 'Young Adult', 'Fiction', 'Magic',...",870,09/28/04,Scholastic Inc.,2507623,"['1593642', '637516', '222366', '39573', '14526']",98.0
2,To Kill a Mockingbird,Harper Lee,4.28,The unforgettable novel of a childhood in a sl...,English,9999999999999,"['Classics', 'Fiction', 'Historical Fiction', ...",324,05/23/06,Harper Perennial Modern Classics,4501075,"['2363896', '1333153', '573280', '149952', '80...",95.0
3,Pride and Prejudice,"Jane Austen, Anna Quindlen (Introduction)",4.26,Alternate cover edition of ISBN 9780679783268S...,English,9999999999999,"['Classics', 'Fiction', 'Romance', 'Historical...",279,10/10/00,Modern Library,2998241,"['1617567', '816659', '373311', '113934', '767...",94.0
4,Twilight,Stephenie Meyer,3.60,About three things I was absolutely positive.\...,English,9780316015844,"['Young Adult', 'Fantasy', 'Romance', 'Vampire...",501,09/06/06,"Little, Brown and Company",4964519,"['1751460', '1113682', '1008686', '542017', '5...",78.0

In [4]:
# Determine the column dtypes
book_df2.dtypes

title              object
author             object
rating            float64
description        object
language           object
isbn               object
genres             object
pages              object
publishDate        object
publisher          object
numRatings          int64
ratingsByStars     object
likedPercent      float64
dtype: object

In [5]:
## convert the Title, Author, Language column to a string
book_df2['title'] = book_df2['title'].astype('string')
book_df2['author'] = book_df2['author'].astype('string')
book_df2['language'] = book_df2['language'].astype('string')


# first convert pages to a string
book_df2['pages'] = book_df2['pages'].astype('string')
## then remove '1 page' values
book_df2.drop(book_df2[book_df2['pages'] == '1 page'].index, inplace = True)
## convert the pages to an integer
#book_df2['pages'] = book_df2['pages'].astype('int64')
book_df2['pages'].unique()

<StringArray>
[ '374',  '870',  '324',  '279',  '501',  '552',  '141',  '767', '1728',
 '1037',
 ...
 '1507',  '941', '1612', '1115', '2592', '1352', '1020', '2306',  '621',
 '1613']
Length: 1240, dtype: string

HELP ABOVE --- It wont let me convert the pages to an integer... maybe skip if we aren't using it in analysis?

In [6]:
## convert the ISBN column to a string
book_df2['isbn'] = book_df2['isbn'].astype('string')

# drop books with the ISBN of 9999999999999
book_df2.drop(book_df2[book_df2['isbn'] == '9999999999999'].index, inplace = True)

# remove duplicate ISBN numbers
book_df2.drop_duplicates(subset=['isbn'], keep = 'first')

book_df2.head()

,title,author,rating,description,language,isbn,genres,pages,publishDate,publisher,numRatings,ratingsByStars,likedPercent
0,The Hunger Games,Suzanne Collins,4.33,WINNING MEANS FAME AND FORTUNE.LOSING MEANS CE...,English,9780439023481,"['Young Adult', 'Fiction', 'Dystopia', 'Fantas...",374,09/14/08,Scholastic Press,6376780,"['3444695', '1921313', '745221', '171994', '93...",96.0
1,Harry Potter and the Order of the Phoenix,"J.K. Rowling, Mary GrandPré (Illustrator)",4.50,There is a door at the end of a silent corrido...,English,9780439358071,"['Fantasy', 'Young Adult', 'Fiction', 'Magic',...",870,09/28/04,Scholastic Inc.,2507623,"['1593642', '637516', '222366', '39573', '14526']",98.0
4,Twilight,Stephenie Meyer,3.60,About three things I was absolutely positive.\...,English,9780316015844,"['Young Adult', 'Fantasy', 'Romance', 'Vampire...",501,09/06/06,"Little, Brown and Company",4964519,"['1751460', '1113682', '1008686', '542017', '5...",78.0
5,The Book Thief,Markus Zusak (Goodreads Author),4.37,Librarian's note: An alternate cover edition c...,English,9780375831003,"['Historical Fiction', 'Fiction', 'Young Adult...",552,03/14/06,Alfred A. Knopf,1834276,"['1048230', '524674', '186297', '48864', '26211']",96.0
6,Animal Farm,"George Orwell, Russell Baker (Preface), C.M. W...",3.95,Librarian's note: There is an Alternate Cover ...,English,9780451526342,"['Classics', 'Fiction', 'Dystopia', 'Fantasy',...",141,04/28/96,Signet Classics,2740713,"['986764', '958699', '545475', '165093', '84682']",91.0

In [7]:
''' commented this section out because we continued to clean and this CSV file is no longer needed '''


# export to csv to share with the team
#book_df2.to_csv('clean_book_data_1.csv', index=False)

' commented this section out because we continued to clean and this CSV file is no longer needed '

In [8]:

'''

Thoughts
There are 33,000+ items with a price and 6,700 without a price.
Do you think it would be easier if we remove the price from this
DF and scrape amazon for the isbn and price so it's consistant
and then we wouldnt scrape for author data (unless that's already complete)


Null values
    some generes are empty lists (2434)
    page numbers not listed (950), page number less than 5 (135)
    blank publisher (1735)
    Empty list for ratings (725) -- maybe we can remove any book with
       fewer than 100 ratings (4842, we'd be left with 35,414 books)


Cleaning up the Author name 
Would it be easier to scrape if we remove anything after a comma so we only have one author listed?

- Additional text we'd need to remove
    Other funky terms
        (Goodreads Author)
        (Illustrator)
        (Translator, Introduction)
        (Translator)
        (Editor)
        (Foreword)
        (Pseudonym)
        (Editor/Contributor)
        non-alphabet characters like Ø¹Ù„Ø§Ø¡ Ø§Ù„Ø£Ø³ÙˆØ§Ù†ÙŠÃ©Ã‰
            this could also remove periods, which we might want to keep


'''

"\n\nThoughts\nThere are 33,000+ items with a price and 6,700 without a price.\nDo you think it would be easier if we remove the price from this\nDF and scrape amazon for the isbn and price so it's consistant\nand then we wouldnt scrape for author data (unless that's already complete)\n\n\nNull values\n    some generes are empty lists (2434)\n    page numbers not listed (950), page number less than 5 (135)\n    blank publisher (1735)\n    Empty list for ratings (725) -- maybe we can remove any book with\n       fewer than 100 ratings (4842, we'd be left with 35,414 books)\n\n\nCleaning up the Author name \nWould it be easier to scrape if we remove anything after a comma so we only have one author listed?\n\n- Additional text we'd need to remove\n    Other funky terms\n        (Goodreads Author)\n        (Illustrator)\n        (Translator, Introduction)\n        (Translator)\n        (Editor)\n        (Foreword)\n        (Pseudonym)\n        (Editor/Contributor)\n        non-alphabet characters like Ø¹Ù„Ø§Ø¡ Ø§Ù„Ø£Ø³ÙˆØ§Ù†ÙŠÃ©Ã‰\n            this could also remove periods, which we might want to keep\n\n\n"

In [9]:
test_df = book_df2[['author', 'isbn']].copy()
test_df = test_df.set_index('isbn')
test_df.head(12)

                                                          author
isbn
9780439023481                                    Suzanne Collins
9780439358071          J.K. Rowling, Mary GrandPré (Illustrator)
9780316015844                                    Stephenie Meyer
9780375831003                    Markus Zusak (Goodreads Author)
9780451526342  George Orwell, Russell Baker (Preface), C.M. W...
9780345538376                                     J.R.R. Tolkien
9780446675536                                  Margaret Mitchell
9780060256654                                   Shel Silverstein
9780393978896  Emily Brontë, Richard J. Dunn (Editor), David ...
9781400096893                                      Arthur Golden
9780451527745  Lewis Carroll, John Tenniel (Illustrator), Mar...
9780142437209  Charlotte Brontë, Michael Mason (Editor), Barn...

In [10]:
# Split the Author Strings by a comma

new_df = pd.DataFrame(test_df['author'].str.split(pat=',', n=-1, expand=True))
new_df

,0,1,2,3,4,5,6,7,8,9
isbn,,,,,,,,,,
9780439023481,Suzanne Collins,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
9780439358071,J.K. Rowling,Mary GrandPré (Illustrator),<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
9780316015844,Stephenie Meyer,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
9780375831003,Markus Zusak (Goodreads Author),<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
9780451526342,George Orwell,Russell Baker (Preface),C.M. Woodhouse (Introduction),<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
...,...,...,...,...,...,...,...,...,...,...
9781477594247,Sherry Gammon (Goodreads Author),<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
2940012616562,Cheri Schmidt (Goodreads Author),<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
9781461017097,Kim Richardson (Goodreads Author),<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
9781450755634,Tom Pollack (Goodreads Author),John Loftus (Goodreads Author),Jim Alves,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
9781599554976,Misty Moncur (Goodreads Author),<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>

In [11]:
# Keep only the index and column of the first author
author_table = new_df.loc[:, :0]

#name the author column 
author_table.columns = ['author']

author_table

                                          author
isbn
9780439023481                    Suzanne Collins
9780439358071                       J.K. Rowling
9780316015844                    Stephenie Meyer
9780375831003    Markus Zusak (Goodreads Author)
9780451526342                      George Orwell
...                                          ...
9781477594247   Sherry Gammon (Goodreads Author)
2940012616562   Cheri Schmidt (Goodreads Author)
9781461017097  Kim Richardson (Goodreads Author)
9781450755634     Tom Pollack (Goodreads Author)
9781599554976    Misty Moncur (Goodreads Author)

[35637 rows x 1 columns]

In [12]:
# Keep only the authors name
split_author = pd.DataFrame(author_table['author'].str.split(pat='(', n=-1, expand=True))
split_author

                             0                  1     2
isbn
9780439023481  Suzanne Collins               <NA>  <NA>
9780439358071     J.K. Rowling               <NA>  <NA>
9780316015844  Stephenie Meyer               <NA>  <NA>
9780375831003    Markus Zusak   Goodreads Author)  <NA>
9780451526342    George Orwell               <NA>  <NA>
...                        ...                ...   ...
9781477594247   Sherry Gammon   Goodreads Author)  <NA>
2940012616562   Cheri Schmidt   Goodreads Author)  <NA>
9781461017097  Kim Richardson   Goodreads Author)  <NA>
9781450755634     Tom Pollack   Goodreads Author)  <NA>
9781599554976    Misty Moncur   Goodreads Author)  <NA>

[35637 rows x 3 columns]

In [13]:
# Keep only the index and column of the first author
author_df = split_author.loc[:, :0]

#name the author column 
author_df.columns = ['main author']

#rename the index
author_df = author_df.rename(index = {'' : 'isbn'})

author_df

                   main author
isbn
9780439023481  Suzanne Collins
9780439358071     J.K. Rowling
9780316015844  Stephenie Meyer
9780375831003    Markus Zusak
9780451526342    George Orwell
...                        ...
9781477594247   Sherry Gammon
2940012616562   Cheri Schmidt
9781461017097  Kim Richardson
9781450755634     Tom Pollack
9781599554976    Misty Moncur

[35637 rows x 1 columns]

In [14]:
# export to csv to share with the team

author_df.to_csv('author_table.csv', index=True)

In [15]:
# merge data from the author table to the main data

main_book_data = pd.merge(book_df2, author_df, on = 'isbn')

#remove the original author column
main_book_data = main_book_data.drop(columns=['author'])

main_book_data

,title,rating,description,language,isbn,genres,pages,publishDate,publisher,numRatings,ratingsByStars,likedPercent,main author
0,The Hunger Games,4.33,WINNING MEANS FAME AND FORTUNE.LOSING MEANS CE...,English,9780439023481,"['Young Adult', 'Fiction', 'Dystopia', 'Fantas...",374,09/14/08,Scholastic Press,6376780,"['3444695', '1921313', '745221', '171994', '93...",96.0,Suzanne Collins
1,Harry Potter and the Order of the Phoenix,4.50,There is a door at the end of a silent corrido...,English,9780439358071,"['Fantasy', 'Young Adult', 'Fiction', 'Magic',...",870,09/28/04,Scholastic Inc.,2507623,"['1593642', '637516', '222366', '39573', '14526']",98.0,J.K. Rowling
2,Twilight,3.60,About three things I was absolutely positive.\...,English,9780316015844,"['Young Adult', 'Fantasy', 'Romance', 'Vampire...",501,09/06/06,"Little, Brown and Company",4964519,"['1751460', '1113682', '1008686', '542017', '5...",78.0,Stephenie Meyer
3,The Book Thief,4.37,Librarian's note: An alternate cover edition c...,English,9780375831003,"['Historical Fiction', 'Fiction', 'Young Adult...",552,03/14/06,Alfred A. Knopf,1834276,"['1048230', '524674', '186297', '48864', '26211']",96.0,Markus Zusak
4,Animal Farm,3.95,Librarian's note: There is an Alternate Cover ...,English,9780451526342,"['Classics', 'Fiction', 'Dystopia', 'Fantasy',...",141,04/28/96,Signet Classics,2740713,"['986764', '958699', '545475', '165093', '84682']",91.0,George Orwell
...,...,...,...,...,...,...,...,...,...,...,...,...,...
35682,Unbelievable,4.16,Lilah Lopez Dreser's in town to take care of u...,English,9781477594247,"['Romance', 'Young Adult', 'Contemporary', 'Co...",360,April 11th 2013,Wordpaintings Unlimited,1028,"['442', '384', '142', '48', '12']",94.0,Sherry Gammon
35683,Fractured,4.00,The Fateful Trilogy continues with Fractured. ...,English,2940012616562,"['Vampires', 'Paranormal', 'Young Adult', 'Rom...",0,May 28th 2011,Cheri Schmidt,871,"['311', '310', '197', '42', '11']",94.0,Cheri Schmidt
35684,Marked,3.70,--READERS FAVORITE AWARDS WINNER 2011--Sixteen...,English,9781461017097,"['Fantasy', 'Young Adult', 'Paranormal', 'Ange...",280,March 18th 2011,CreateSpace,6674,"['2109', '1868', '1660', '647', '390']",84.0,Kim Richardson
35685,Wayward Son,3.85,A POWERFUL TREMOR UNEARTHS AN ANCIENT SECRETBu...,English,9781450755634,"['Fiction', 'Mystery', 'Historical Fiction', '...",507,September 1st 2011,Cascada Productions,238,"['77', '78', '59', '19', '5']",90.0,Tom Pollack
35686,Daughter of Helaman,4.02,Fighting in Helaman's army is Keturah's deepes...,English,9781599554976,"['Lds Fiction', 'Historical Fiction', 'Young A...",201,May 8th 2011,Bonneville,246,"['106', '73', '42', '17', '8']",90.0,Misty Moncur

In [16]:
# Export to CSV file
main_book_data.to_csv('main_table.csv', index=True)